body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fffaf3;
    color: #333;
    line-height: 1.6;
}

div {
     border-bottom:solid #6b3e26;



}

.topo {
    background-color: #6b3e26;
    padding: 15px;
    align-items: center;
}

.topo img {
    height: 70px;
}

.paragrafo-topo {
    margin: 0;
}

.link-topo {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    
}

.link-topo:hover {
    color: #ffb347;
}


.banner img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}


.secao {
    width: 1000px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

h1, h2  {
    margin-bottom: 15px;
    color: #6b3e26;
}
h3 {
    color: white;
}
.paragrafo {
    font-size: 18px;
    margin: 15px 0;
}


.texto-azul {
    color: #6b3e26;
    font-weight: bold;
}

.texto-amarelo {
    color: #e67e22;
    font-weight: bold;
}


.imagem {
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
    margin: 20px 0;
    
}


.servicos h3 {
    font-size: 28px;
}

.paragrafo-servicos {
    color: white;
}

.lista-cardapio {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.item-lista-cardapio {
    background: #fff3e6;
    margin: 10px auto;
    padding: 15px;
    border-radius: 12px;
    font-size: 18px;
    max-width: 700px;
    
}

.item-lista-cardapio:hover {
    background: #ffe0c2;
}


.contato h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contato p {
    color: white;
}


.contato iframe {
    border-radius: 12px;
    margin-bottom: 20px;
}

.contato a {
    margin-top: 15px;
    font-size: 20px;
    text-decoration: none;
    background: #6b3e26;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    
}

.contato a:hover {
    background: #e67e22;
}

.servicos , .contato{
    background-color: #6b3e26;


} 



